/target/
/debug/
/release/
/dist/
/Cargo.lock

.rust_analyzer.json

*.rs.bk
*.rmeta
*.dSYM/
*.profdata
*.gcda
*.gcno
*.ll
*.o
*.so
*.d

**/*.rs.bk
Cargo.lock
target/

*.swp
*.swo
*.un~
*.vimbackup
*.vimswap
*.vimundo

.vscode/
*.code-workspace

*.log
*.out
*.stderr
*.stdout

.DS_Store
src/.DS_Store
Thumbs.db

wasm_out/
*.wasm
*.js
*.html
_assets

cfg.toml
keypair